* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    
  }
  
  body{
    font-family: "Roboto";
  }
  
  .login{
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 55px;
    background-color: #0B2543;
  }
  
  .daily{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: #FAAB2C;
    height: 100%;
    position: relative;
  }
  
  .gambar, .gira{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
  }
  
  .data{
    width: 50%;
    background-color: white;
    height: 100%;
    position: relative;
  }
  
  h4{
    margin-bottom: 30px ;
  }
  
  .form-control{
    border: 1px solid black;
  }
  
  .btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    background-color: #0B2543;
    color: white;
    width: 30%;
    padding: 5px;
    text-align: center;
  }
  
  .btn:hover{
    color: white;
  }
  
  .form-control::placeholder{
    color: black;
  }
  
  .form-check{
    padding: 0;
  }
  
  .gira{
    width: 60%;
  }
  
  p{
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  
  a{
    text-decoration: none;
  }
  
  @media (max-width: 870px) {
    .login{
      flex-direction: column;
      padding: 10px;
    }
    img{
      width: 90%;
    }
    .login .daily, .login .data{
      width: 100%;
    }
    .login .daily{
      height: 47%;
    }
    .login .data{
      height: 53%;
    }
    .gira{
      top: 0;
      transform: translate(-50%, 0);
    }
    p{
      text-align: center;
      bottom: -25px;
    }
  }
  
  
  
  /* @media (max-width: 870px) {
    .container {
      min-height: 800px;
      height: 100vh;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,
    .container.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right-panel {
      grid-row: 3 / 4;
    }
  
    .left-panel {
      grid-row: 1 / 2;
    }
  
    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .panel h3 {
      font-size: 1.2rem;
    }
  
    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
  @media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .container {
      padding: 1.5rem;
    }
  
    .container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  } */
  